.footer
  display: flex
  justify-content: space-between
  align-items: center
  height: 50px
  padding: rem(2) rem(5)

.copy-right
  width: 10%
  text-align: center
  color: #2b6ca3
  font-family: "Open Sans" sans-serif
  font-weight: normal

.social-media
  display: flex
  justify-content: center
  gap: rem(10)
  width: 10%
  .fa-vk
    color: #0077FF
  .fa-square-facebook
    color: #4267B2

.links
  display: flex
  gap: rem(5)
  img
    min-width: 33.333%
    object-fit: cover
    border-radius: 5px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
    &:hover
      cursor: pointer
