.header
  display: flex
  justify-content: space-between
  height: rem(50)
  padding: rem(10)
  border-bottom: 1px solid #ffffff
  background-color: #2b6ca3

.nav
  display: flex
  justify-content: space-between
  width: 100%
  padding: 0 20px

.logo
  display: flex
  justify-content: space-between
  a
    padding-left: rem(10)

.logo__brand
  display: flex
  flex-direction: column
  @media screen and (max-width: 932px)
    justify-content: center

.logo__brand-h1,
.logo__brand-p
  margin: 0
  padding: 0
  color: #ffffff
  font-weight: 300

.logo__brand-h1
  text-transform: uppercase
  font-size: rem(24)
  @media screen and (max-width: 840px)
    display: none

.logo__brand-p
  font-family: $open-sans
  font-weight: 200
  min-width: max-content
  @media screen and (max-width: 932px)
    display: none

.nav-list
  display: flex
  width: 100%
  justify-content: space-evenly
  list-style: none
  .nav-item
    .nav-link
      text-decoration: none
      color: #ffffff
      font-family: $raleway
      font-size: rem(14)
      font-weight: 600
      &:hover
        color: #f2bf5e
        cursor: pointer
.logo__img
  object-fit: contain
  max-height: 100%
