.main-cards
  display: flex
  justify-content: center
  margin-top: rem(40)
  width: 100%

.cards-slider
  display: flex
  justify-content: center
  position: relative
  align-items: center
  width: 100%

.slick-arrow
  padding: rem(5)
  &:hover
    cursor: pointer

.cards-slider__item
  display: flex
  justify-content: center
  text-align: center
  height: rem(350)
  margin: 0 rem(10)
