
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
@import 'functions'
@import 'header'
@import 'main'
@import 'footer'

*
    // border: 1px solid black

:root
    font-family: Raleway sans-serif

body
    margin: 0
    padding: 0
    box-sizing: border-box

.wrapper
    display: flex
    flex-direction: column
    position: relative
    max-width: 1280px
    margin: 0 auto
    min-height: 100vh
    overflow: hidden
